html,body {
    height: 100%;
  }

body {
    overflow: hidden;
}

.landingPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

.landingIcon {
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.landingSelectedConfigPath {
    background-color: #eeeeee;
}

.landingSelectedTemplatePath {
    background-color: #eeeeee;
}

.topGrid {
    height: 100%;
}

.infoPane {
    overflow-y: scroll;
}